@import "./base.css";

#app {
  max-width: 1280px;
  margin: 48px auto;
  font-weight: normal;
  background-color: #000a;
  border: 1px solid #939db8;
  box-shadow: 0 0 2px #4444, 0 0 4px #4444, 0 0 6px #4444;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h1 {
  font-size: 24px;
  padding: 12px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.planet-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 6px;
}

.planet-form_field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 0 0 calc(100% / 3);
  padding: 6px;
}

.planet-form_submit {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 0 0 100%;
  padding: 6px;
}

.planet-form_field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 0 0 calc(100% / 3);
  padding: 6px;
}

.planet-form input,
.planet-form select,
.planet-form button {
  width: 100%;
  background-color: var(--colorBg01);
  color: var(--color03);
  border: 1px solid var(--color02);
  height: 100%;
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 500;
  transition: all ease-in-out 250ms;
}

.planet-form input:focus,
.planet-form select:focus {
  outline: 0;
}

.planet-form button {
  cursor: pointer;
  transition: 0.4s;
  cursor: pointer;
  height: auto;
}

.planet-form input[type="checkbox"] {
  width: 24px;
  justify-self: center;
  align-self: center;
}

.planet-form button:hover,
.planet-form input[type="date"]:focus,
.planet-form input[type="text"]:focus,
.planet-form input[type="number"]:focus,
.planet-form select:focus {
  border: 1px solid #16c7ff;
  box-shadow: 0 0 2px #16c7ff44, 0 0 4px #16c7ff44, 0 0 6px #16c7ff44;
}

.planet-form_alert {
  display: block;
  width: 100%;
  text-align: center;
  color: #0a0;
  margin-top: 12px;
}

/* table */
.planet-list {
  width: calc(100% - 24px);
  border-collapse: separate;
  margin: 12px 12px;
  border: 1px solid #444;
  border-collapse: collapse;
}

.planet-list th,
.planet-list td {
  border: 1px solid #444;
  padding: 4px 8px;
}

.planet-list th {
  background-color: var(--colorBg01);
  cursor: pointer;
  user-select: none;
  font-weight: 700;
}

.planet-list tr {
  background-color: var(--color02);
}

.planet-list tr:nth-child(even) {
  background-color: var(--color04);
}

.planet-list svg {
  width: 24px;
  height: 24px;
  fill: #a00;
  cursor: pointer;
  margin: auto;
}

.planet-list td:last-child {
  text-align: center;
}

.planet-list th:last-child {
  cursor: default;
}
